<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>{% if page.title %} {{ page.title }} | {% endif %} OptiCVX &mdash; A DSL for Convex Optimization</title>
    <style type='text/css'>
      @import 'css/default.css';
      @import 'css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import 'css/print.css';
    </style>
    <meta content='OptiCVX documentation' name='subject'>
    <script type="text/javascript" src="opticvxlogo.js"></script>
    <!-- <link href='images/favicon.png' rel='shortcut icon'> -->
  </head>
  <body>
    <div id='outer'>
      <div id='header'>
        <div class='home'><a href='index.html' title="OptiCVX">
          <canvas id="opticvx_logo_canvas" width="120" height="75">OptiCVX</canvas></a></div>
      </div>
      <div id='menu'>
        <ol>
          <li>OptiCVX
            <ol>
              <li><a href='index.html'>Overview</a></li>
              <li><a href='example.html'>Example</a></li>
              <li><a href='how_it_works.html'>How it Works</a></li>
              <li><a href='reference.html'>Reference</a></li>
              <li><a href='../index.html'>Delite</a></li>
            </ol>
          </li>
        </ol>
      </div>
      <div id='content'>
        {{ content }}
      </div>
      <div id='footer'>Copyright &copy; 2013. Web template by Nathan Bronson (<a href="http://nbronson.github.com/scala-stm/index.html">ScalaSTM</a>).</div>
    </div>
  </body>
</html>
